<div class="container">
  <h1><a href="/">Top Makers</a></h1>
  <ul class="list-group">
    <% makers.forEach(maker=>{ %>
    <li class="list-group-item">
      <h5>
        <a href="/<%=maker.get(`slug`)%>"><%=maker.get(`name`)%></a>
        <% if (maker.get('x') ) { %>
        <a
          href="https://x.com/<%=maker.get('x') %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <% } %>
      </h5>
      <p><%= maker.description %></p>
      <p>
        <i class="fa-solid fa-dollar-sign"></i
        ><%= formatNumber(maker.get(`mrr`)) %>
        mrr
      </p>
      <% const apps = maker.expandedAll(`apps_via_maker`) %>
      <% //dbg(`***apps is ${maker.expandedAll(`apps_via_maker`).length}`,{apps: maker.expandedAll(`apps_via_maker`)}) %>
      <% if (apps.length > 0) { %>
      <h6>Apps</h6>
      <ul class="list-group">
        <% apps.forEach(app=>{ %>
        <% //dbg(`***app is`,{app}) %>
        <li class="list-group">
          <a href="/<%= app.get('slug') %>"> <%= app.get(`name`) %> </a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </li>
    <% }) %>
  </ul>
</div>
