<% 
const { formatNumber } = requirePrivate('formatNumber.js')
const { app } = data
const maker = app.expand.maker
%>
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-xl">
        <h1 class="text-4xl font-bold">
          <a href="/<%= maker.slug %>/<%= app.slug %>" class="hover:text-primary"><%= app.name %></a>
          <a href="<%= app.url %>" target="_blank" rel="noopener noreferrer" class="ml-2 text-blue-500 hover:text-blue-700">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <% if (app.x) { %>
            <a
              href="https://x.com/<%= app.x %>"
              target="_blank"
              rel="noopener noreferrer"
              class="ml-2 text-blue-500 hover:text-blue-700"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          <% } %>
          <% if (app.github) { %>
            <a
              href="https://github.com/<%= app.github.url %>"
              target="_blank"
              rel="noopener noreferrer"
              class="ml-2 text-gray-800 hover:text-gray-900"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          <% } %>
        </h1>
        <p class="py-4 text-lg text-gray-700">by <a href="/<%= maker.slug %>" class="hover:text-primary"><%= maker.name %></a></p>
        
        <% if (app.mrr) { %>
          <p class="text-md text-gray-600 mb-6">
            <i class="fa-solid fa-dollar-sign mr-1"></i><%= formatNumber(app.mrr) %> mrr
          </p>
        <% } %>
        
        <p class="text-md text-gray-700"><%= app.description %></p>
      </div>
    </div>
  </div>
  