<% 
const {formatNumber} = requirePrivate(`formatNumber.js`)
%>
  <ul class="space-y-4">
    <% data.makers.forEach(maker => { %>
      <li class="p-4 bg-base-100 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold">
          <a href="/<%=maker.slug%>" class="hover:text-primary"><%=maker.name%></a>
          <% if (maker.x) { %>
          <a
            href="https://x.com/<%=maker.x %>"
            target="_blank"
            rel="noopener noreferrer"
            class="ml-2 text-blue-500 hover:text-blue-700"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <% } %>
        </h5>
        <p class="text-gray-700"><%= maker.description %></p>
        <p class="text-sm text-gray-600">
          <i class="fa-solid fa-dollar-sign mr-1"></i><%= formatNumber(maker.mrr) %> mrr
        </p>
        <% const apps = maker.expand.apps_via_maker %>
        <% if (apps.length > 0) { %>
        <h6 class="mt-4 text-md font-medium">Apps</h6>
        <ul class="space-y-2 mt-2">
          <% apps.forEach(app => { %>
          <li class="pl-4 border-l-2 border-primary">
            <a href="/<%= app.slug %>" class="text-primary hover:underline"> <%= app.name %> </a>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
